/* .container {
  position: relative;
}

.input {
  width: 240px;
  height: 30px;
  padding: 10px 20px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.inputFocused {
  outline: none;
}

.inputOpen {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.suggestionsContainer {
  display: none;
}

.suggestionsContainerOpen {
  display: block;
  position: absolute;
  top: 60px;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 6px rgba(0,0,0,0.23);
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  z-index: 2;
  margin-top: 4px;

  padding: 10px 0;
}

.suggestionsList {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.suggestionsList li::before {
  content: '';
}

.suggestion {
  cursor: pointer;
  padding: 10px 20px;
  margin: 0;
}

.suggestionHighlighted {
  background-color: #ddd;
} */