/* Bootstrap Breakpoints */
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 940px,
  xl: 94c0px
);

$container-max-widths: (
  sm: 940px,
  md: 940px,
  lg: 940px,
  xl: 940px
);


$cl-blue-dark:                             #071E42;
$cl-blue-royal:                            #1C428A;


/* Theme */
$search-primary-bg:                        #000;
$search-primary-text:                      #000;
//$search-


/* Theme Colors */
$theme-colors: map-remove($theme-colors, "info", "light", "dark");
$theme-colors: (
  "primary": #071E42,
  "secondary": #1C428A,
);



/* Card */
//$card-color:                        #565A5C;
//$card-bg:                           #F9F9F9;
//$card-border-width:                 0;
//$card-border-radius:                0;
//$card-cap-bg: none;
// $card-spacer-y: 0;




.doe-search {
  &, b {
    color: #565A5C;
  }

  h1, h2, h3, h4, h5, h6 {
    color: theme-color("primary");
  }

  h1, h2, h3, h4, h5, h6, p {
    a {
      color: theme-color("primary");
    }
  }

  &__header {

  }

  &__main {

  }

  &__footer {

  }
}