/*
 * NOTE: THIS CSS IS ONLY FOR TESTING CUSTOM CSS IN DEVELOPMENT MODE.
 *       CONTENTS OF THIS FILE ISN'T INCLUDED IN THE BUILD.
 */

// /* -- GRID FIX --
//     - from bootstrap/scss/reboot */
// *,
// *::before,
// *::after {
//   box-sizing: border-box; // 1
// }
// /* -- GRID FIX -- */



// @import "~bootstrap/scss/functions";
// @import "~bootstrap/scss/variables";

// /* -- Custom Variables -- */

//   /* Bootstrap Breakpoints */
//   $grid-breakpoints: (
//     xs: 0,
//     sm: 576px,
//     md: 768px,
//     lg: 940px,
//     xl: 94c0px
//   );

//   $container-max-widths: (
//     sm: 940px,
//     md: 940px,
//     lg: 940px,
//     xl: 940px
//   );

// /* -- / Custom Variables -- */


// @import "~bootstrap/scss/mixins";


// /* BOOTSTRAP COMPONENTS */
// //@import "~bootstrap/dist/css/bootstrap.min.css";

// @import "~bootstrap/scss/grid";
// @import "~bootstrap/scss/utilities";
// @import "~bootstrap/scss/transitions";

// //@import "~bootstrap/scss/buttons";
// //@import "~bootstrap/scss/button-group";

// @import "~bootstrap/scss/badge";
// @import "~bootstrap/scss/card";


// @import "~@fortawesome/fontawesome-pro/css/all.css";


// // Brand Colors - Primary
// $color-navy: #041E42;
// $color-red: #CE0037;
// $color-baby-blue: #C8DCF0;
// $color-white: #FFFFFF;

// // Brand Colors - Secondary
// $color-blue-default: #1D428A;
// $color-blue-mid: #407EC9;
// $color-blue-tertiary: #6CACE4;
// $color-highlight-pink: #EE3C48;
// $color-peach: #F3B8B5;
// $color-grey: #E6E7E9;

// // Shades of grey
// $color-grey-60: #666666; 
// $color-grey-30: #B3B3B3; 
// $color-grey-15: #D9D9D9; 
// $color-grey-10: #E5E5E5; 
// $color-grey-5: #F2F2F2; 
// $color-grey-2: #FAFAFA; 

// // Text colors
// // - Navy
// // - White
// // - Grey 60
// $color-black: #000000;

// // System messages and alerts
// $color-error: #FF635C;
// $color-warning: #F69900;
// $color-success: #0CAC78;
// $color-info: #00BFE9;

// /* GEL COMPONENTS */

// @import "~gel/src/assets/sass/variables";
// @import "~gel/src/assets/sass/mixins";
// @import "~gel/src/assets/sass/overrides-class";

// @import "~gel/src/assets/sass/includes/input";
// @import "~gel/src/assets/sass/includes/button";
// @import "~gel/src/assets/sass/includes/search";
// @import "~gel/src/assets/sass/includes/card";

// @import "~gel/src/assets/sass/includes/search-box";
// @import "~gel/src/assets/sass/includes/featured-teaser";